#anh{
    padding: 25px;
    background: url(78809294.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#anh1{
    padding: 25px;
    background: url(https://kenh14cdn.com/thumb_w/620/2019/2/24/3561716420480213454575853861059020806684672n-15510057259571546306615.jpg);
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
