div {
    animation-name: fadeIn;
    animation-duration: 5s;
 }

 @keyframes fadeIn{
     from{
        opacity: 0;
        transform: translate(-100px);
     }

     to {
         opacity: 5;
         transform: translate(0%);
     }
 }
